body{
    background: darkgreen;
    margin: 0;
    padding: 0;
}

header {
    border-radius: 20px;
    padding-top: 22px;
    text-align: center;
    background-color: green;
    height: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title-button{
    border-radius:20%;
    border-left: solid darkgreen;
    border-right: solid darkgreen;
    text-decoration:none;
    color: white;
    padding: 15px;

}

.title-button:hover{
    background-color: darkgreen;
}

.title-button.active{
    background-color: pink;

}

.container {
    background-color: grey;
    min-height: 800px;
    display : grid;
    grid-template-columns: 10% 80% 10%;
}

.sidebar{
    background-color: #dec000;
}

.main-content{
}


footer {
    background-color: lightgrey;
    text-align: center;
}
.footer-info{
    display:inline-block;
}
