
header {
    background-color: #006294;
}

.title{
    border-radius: 20%;
    border-left: solid white;
    border-right: solid white;
}

.content-post-content {
    border: solid #4c4c4c 1px;
    width: auto;
}

.content-post-image {
    border-radius: 20px;
    object-fit: contain;
}

#right-aligned-image {
    float: right;
}