.banner {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    height: 200px;
    border-radius: 25px;
}
.left-banner{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.front-thumb-post {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.front-post{
    background-color: ghostwhite;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    box-shadow: 5px 10px #4c4c4c;
}
.front-post-picture{
    height: 200px;
}
.front-picture-style{
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.front-post-text h1,a{
    text-align: center;
    text-decoration-line: none;
    color: black;
    width:auto;
}
.front-post-text{
    text-align: justify;
    padding-right: 5px;
    padding-left: 5px;
}

