<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/style-guide.css">
    <title>Guideoversigt</title>
</head>
<body>
<header>
    <div class="titlebar">
        <a id="homepage" class="title-button" href="homepage.html"> home</a>
        <a id="guide" class="title-button" href="guidespage.html"> guides</a>
        <a id="facts" class="title-button" href="factspage.html">facts</a>
    </div>
</header>
<div class="container">
    <div id="left" class="sidebar">
        <img alt="kål på madspild" src="../static/Attachments/nature.png"
             width = 100%;
             height = 100%;>
    </div>

    <div class="main-content">
        <div class="pathcontainer">
            <div class="path">
                <div><a href="home">Home</a></div>
                <div><i class="arrow right"></i><a href="guides">Guides</a></div>
                <div><i class="arrow right"></i><a href="guide">Here</a></div>
            </div>
        </div>
        <div class="article contentmargin">
            <h1>Test Artikel Heading</h1>

            <div class="horizontal-rule"></div>

            <div class="article_element" id="text1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et erat at ex consequat congue ut a tellus. Sed porttitor sem sed lorem condimentum, vitae commodo augue aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis, est et vulputate condimentum, ex purus sagittis felis, mattis congue lectus metus sit amet lectus. Etiam eget consectetur nulla. Etiam sollicitudin pulvinar urna non scelerisque. Integer tincidunt vestibulum tristique. Sed molestie, felis eu dictum lacinia, massa dolor rutrum augue, vel eleifend nulla nulla non purus. Nam a viverra massa, quis malesuada odio. Curabitur faucibus sagittis ligula, non tincidunt enim venenatis nec. Pellentesque purus orci, porttitor a aliquam ut, egestas non risus.

                Aenean accumsan at nibh vitae malesuada. Nullam et lorem convallis, rutrum arcu ullamcorper, vestibulum est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis efficitur nulla enim, ac imperdiet arcu dapibus et. Aenean in orci dictum, accumsan ante sed, consectetur velit. Fusce eget tellus hendrerit, pellentesque turpis in, finibus ipsum. Fusce sed sapien non magna efficitur dapibus.

                Fusce vel lectus tincidunt, faucibus mi sit amet, placerat nisi. Cras mattis ultrices diam, vel tincidunt metus mollis in. Morbi gravida dui eget risus dignissim, in feugiat dolor mattis. Cras non nisi leo. Cras eu suscipit lacus, at accumsan leo. In quis mauris vitae dui dictum facilisis. Donec non metus eget justo lobortis pretium quis vel lacus. Proin mollis tortor risus, at congue lorem rutrum eu. Ut quam enim, mattis pellentesque enim eget, egestas facilisis nulla. Donec vel ante neque. Nam quis tortor eget est dictum varius. Aenean vel nibh lacus. Nunc nec elit commodo, convallis dolor porttitor, molestie lorem. Proin iaculis turpis sit amet nibh imperdiet, vel pellentesque metus facilisis. Nulla facilisi. Duis euismod pretium magna id faucibus.

                <br><br>Donec convallis luctus lectus vitae scelerisque. Donec vitae erat efficitur, feugiat nibh eu, pretium enim. Etiam eu efficitur ex. Praesent vulputate ornare gravida. Sed gravida mollis nunc nec maximus. Quisque nec magna ut ante placerat maximus. Nulla ultrices lacinia tellus.

                Cras congue augue non pretium ultricies. Vivamus vel tempor leo. Proin in blandit orci. Maecenas consectetur dictum metus, sed viverra magna luctus ut. Nam sit amet urna sagittis, malesuada enim ut, laoreet metus. Mauris viverra risus et tincidunt auctor. Curabitur vel erat vel enim imperdiet interdum.

                Praesent fringilla felis ut augue pulvinar, nec faucibus eros feugiat. Pellentesque in ligula imperdiet, congue massa et, accumsan quam. Morbi ante ex, congue ac magna eget, aliquam bibendum odio. Duis ac sapien mattis, sollicitudin augue quis, suscipit nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris tempor, nibh laoreet tempor tincidunt, lacus massa maximus arcu, a convallis ante dui id enim. Aenean eu nisl vulputate, rutrum purus sit amet, vehicula sem. Integer consectetur quam purus, nec consectetur mi condimentum rhoncus.

                
            </p>
                <img id="picture1" alt="apples" src="../static/Attachments/tapas_COLOURBOX1237618.jpg">
            </div>
            <p>

                Quisque eget ullamcorper turpis. Ut euismod hendrerit dolor. Curabitur tristique ligula a pulvinar hendrerit. Aliquam eget elit dignissim sapien semper tincidunt ut sit amet diam. Suspendisse id lorem vitae lacus fringilla posuere. Nullam sodales ante et turpis luctus, sit amet tincidunt ligula vestibulum. Aliquam erat volutpat. Maecenas porta tincidunt tortor ac lobortis. Nunc convallis metus at diam porttitor fringilla.

                Aliquam erat volutpat. Nulla at tempor nisl, vitae interdum est. Etiam ut malesuada tortor, sit amet gravida ligula. Praesent pharetra placerat diam, at ultricies diam mollis at. Cras porttitor in turpis sed blandit. Vestibulum purus velit, dictum vel ornare ac, ultrices ut augue. Ut sit amet orci eleifend, rhoncus urna vel, ullamcorper enim. Mauris auctor urna a velit porttitor, at interdum ipsum tristique. Nulla vehicula volutpat leo, elementum aliquam metus elementum rutrum. Morbi suscipit sem non odio efficitur sagittis. Etiam dictum felis eget leo bibendum sodales. Nunc auctor ante quis justo ornare viverra. Aenean metus sapien, pellentesque quis porttitor eu, imperdiet dictum ante. Proin at sodales neque. Nulla imperdiet tortor vel urna auctor ultrices. Etiam ac consequat nibh.

                <br><br>Donec nisi tortor, lacinia non sapien ut, rutrum posuere ex. Donec nec lectus et sapien euismod suscipit. Mauris rutrum non mi non placerat. Etiam arcu dui, dignissim a erat porttitor, eleifend consequat sapien. Morbi pulvinar a lectus et lacinia. Morbi magna leo, consectetur sit amet facilisis ultrices, dignissim quis nunc. Nunc cursus aliquet metus, et suscipit velit varius posuere. Aliquam ut viverra enim. Nunc dictum ullamcorper ornare. Pellentesque sagittis lorem malesuada, mattis felis a, porttitor tortor. Donec feugiat, tellus ac egestas iaculis, magna dolor commodo tellus, non dictum diam leo vel felis. Cras mattis eu justo a eleifend. Nunc eget leo auctor, faucibus sapien a, porttitor dui. Suspendisse faucibus ullamcorper commodo. Mauris tristique purus id nisl laoreet, lobortis tempus ligula blandit. Morbi ultricies, felis sit amet congue iaculis, odio velit porttitor ligula, vitae lacinia eros nulla auctor ex.

                Ut ut arcu sit amet tellus feugiat egestas. Suspendisse laoreet, enim a ultricies pellentesque, mi dui varius leo, sed venenatis libero orci nec felis. Phasellus et ante scelerisque, sagittis ex et, maximus ante. Phasellus volutpat fringilla sapien et porttitor. Vivamus non purus nec sapien auctor elementum eget eget turpis. Sed faucibus malesuada lacinia. Aliquam ut egestas nulla, et tincidunt elit. Cras a efficitur libero. Fusce nec nunc non nisl consequat condimentum sed at odio. Phasellus semper, nibh at tristique viverra, metus ligula bibendum dui, vitae rutrum felis ante a metus. Etiam volutpat nisl suscipit tempus tristique. In sagittis nunc ac felis fringilla accumsan. Nulla scelerisque est orci, quis fermentum mauris pharetra et. Nulla blandit felis nulla, vel commodo velit mollis sit amet. Praesent et sagittis neque.
            </p>
        </div>

        <div class="comment-section contentmargin">
            <div class="horizontal-rule"></div>
            <div class="comment-form">
                <form>
                    <label for="usertext"><strong>Comment Section</strong></label>
                    <br><br>
                    <textarea id = "usertext" name = "usertext" cols = "50" rows = "10" placeholder = "Type to get started.." ></textarea>
                    <input type="submit" value="Comment">
                </form>
            </div>
            <ul class="comments">
                <li class="comment">
                    <div>Username</div>
                    <div> Bla bla bla bla? blabla. blablabala...</div>
                </li>
                <li class="comment">
                    <div>Username</div>
                    <div> Bla bla bla bla? blabla. blablabala...</div>
                </li>
                <li class="comment">
                    <div>Username</div>
                    <div> Bla bla bla bla? blabla. blablabala...</div>
                </li>
                <li class="comment">
                    <div>Username</div>
                    <div> Bla bla bla bla? blabla. blablabala...</div>
                </li>

            </ul>
        </div>
    </div>

    <div id="right" class="sidebar">
        <h3> rightside </h3>
    </div>
</div>
<footer>
    <div>
        <a class="footer-info" href="error">kontakt</a>
        <p class="footer-info">Det her er lidt text som skal fylde</p>
        <a class="footer-info" href="error">et link mere fordi jeg ikke lige kan finde ud af hvad der skal stå</a>
    </div>
</footer>
</body>
</html>