<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/style-guides.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="titlebar">
        <a id="homepage" class="title" href="homepage.html"> home</a>
        <a id="guide" class="title" href="guidespage.html"> guides</a>
        <a id="facts" class="title" href="factspage.html">facts</a>
    </div>
</header>
<div class="container">
    <div id="left" class="sidebar">
        <img alt="kål på madspild" src="./Attachments/nature.png"
             width = 100%;
             height = 100%;>
    </div>

    <div class="main-content">
        <div class = "content-post">
            <div class = content-post-content>
                <h3>Guideoversigt</h3>
                <p>Hvordan spilder du mest muligt mad?</p>
                <p>Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst Fyldtekst </p>
            </div>

            <img id = "right-aligned-image" alt ="" src="Attachments/woman-with-salad1.jpg">





        </div>
    </div>

    <div id="right" class="sidebar">
        <h3> rightside </h3>
    </div>
</div>
<footer>
    <div>
        <a class="footer-info" href="error">kontakt</a>
        <p class="footer-info">Det her er lidt text som skal fylde</p>
        <a class="footer-info" href="error">et link mere fordi jeg ikke lige kan finde ud af hvad der skal stå</a>
    </div>
</footer>
</body>
</html>