<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/style-homepage.css">
    <title>Homepage</title>
</head>
<body>
<header>
    <div class="titlebar">
        <a id="homepage" class="title" href="homepage.html"> home</a>
        <a id="guide" class="title" href="guidespage.html"> guides</a>
        <a id="facts" class="title" href="factspage.html">facts</a>
    </div>
</header>
<div class="container">
    <div id="left" class="sidebar">
        <img alt="kål på madspild" src="./Attachments/nature.png"
             width = 100%;
             height = 100%;>
    </div>

    <div class="main-content">
        <div class="banner">

            <img alt ="food waste" src="Attachments/BannerPicture2.png"
                 width = 30%
                 height = 200px>

            <img alt="food waste" src="Attachments/BannerPicture1.png"
                 width = 40%;
                 height = 200px;>

            <img alt ="food waste" src="Attachments/BannerPicture2.png"
                 width = 30%
                 height = 200px>
        </div>

        <div class="front-thumb-post">
            <div class="front-post">
                <div class="front-guides-picture">
                <img alt ="food waste" src="Attachments/BannerPicture2.png"
                     width = 100%
                     height = 200px>

                </div>
                <div class="front-guide-text">
                <h1>blablabla11</h1>

                </div>
            </div>
                <div class="front-post">
                    <div class="front-facts-picture">
                    <img alt ="food waste" src="Attachments/BannerPicture2.png"
                        width = 100%
                        height = 200px>
                    </div>
                    <div class="front-guide-text">
                        <h1>blablabla</h1>
                    </div>
            </div>
        </div>

    </div>

    <div id="right" class="sidebar">
        <img alt="kål på madspild" src="./Attachments/nature.png"
             width = 100%;
             height = 100%;>
    </div>
</div>
<footer>
    <div>
        <a class="footer-info" href="error">kontakt</a>
        <p class="footer-info">Det her er lidt text som skal fylde</p>
        <a class="footer-info" href="error">et link mere fordi jeg ikke lige kan finde ud af hvad der skal stå</a>
    </div>
</footer>
</body>
</html>