<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/style-homepage.css">
    <title>Homepage</title>
</head>
<body>
<header>
    <div class="titlebar">
        <a id="homepage" class="title-button" href="/"> home</a>
        <a id="guide" class="title-button" href="guidespage.html"> guides</a>
        <a id="facts" class="title-button" href="factspage.html">facts</a>
    </div>
</header>
<div class="container">
    <div id="left" class="sidebar">
        <img alt="kål på madspild" src="../static/Attachments/Apples.png"
             width = 100%;
             height = 100%;>
    </div>

    <div class="main-content">
        <div class="banner">

            <img alt ="food waste" src="../static/Attachments/BannerPicture2.png"
                 width = 30%
                 height = 100%>

            <img alt="food waste" src="../static/Attachments/BannerPicture1.png"
                 width = 40%;
                 height = 100%>

            <img alt ="food waste" src="../static/Attachments/BannerPicture2.png"
                 width = 30%
                 height = 100%>
        </div>

        <div class="front-thumb-post">
            <div class="front-post">
                <div class="front-post-picture">
                    <a class="front-post-title" href="guide.html">
                    <img class="front-picture-style" alt ="food waste" src="../static/Attachments/BannerPicture2.png"
                         width = 100%
                         height = 100%>
                    </a>


                </div>
                <div class="front-post-text">
                    <h1><a class="front-post-title" href="guide.html"> Guide1 </a></h1>
                    <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam pulvinar ultrices laoreet. Proin pretium eu risus sit amet sodales. Cras egestas maximus neque, ac sodales orci faucibus in. Mauris congue eu massa eget bibendum. Sed porta lorem non ligula sollicitudin, a vulputate turpis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida tellus eget diam gravida tincidunt. </p>

                </div>
            </div>
                <div class="front-post">
                    <div class="front-post-picture">
                        <a class="front-post-title" href="factspage.html">
                        <img class= "front-picture-style" alt ="food waste" src="../static/Attachments/BannerPicture2.png"
                        width = 100%
                        height = 100%>
                        </a>
                    </div>
                    <div class="front-post-text">
                        <h1>
                            <a class="front-post-title" href="factspage.html">
                                Facts
                            </a>
                        </h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu tortor vel massa porttitor sodales. Nullam iaculis magna elit. Ut ipsum ipsum, vestibulum ac leo a, ornare imperdiet arcu. Vestibulum a felis vel leo ultrices pretium. Sed pharetra tellus neque, in ullamcorper arcu volutpat ac. Maecenas pretium sollicitudin enim, ac finibus dolor imperdiet vitae. Morbi convallis ligula nec erat maximus, eu vestibulum ante consequat.</p>
                    </div>
            </div>
        </div>

    </div>

    <div id="right" class="sidebar">
        <img alt="kål på madspild" src="../static/Attachments/Apples.png"
             width = 100%;
             height = 100%;>
    </div>
</div>
<footer>
    <div>
        <a class="footer-info" href="error">kontakt</a>
        <p class="footer-info">Det her er lidt text som skal fylde</p>
        <a class="footer-info" href="error">et link mere fordi jeg ikke lige kan finde ud af hvad der skal stå</a>
    </div>
</footer>
</body>
</html>