.title{
    border-radius: 20%;
}

.banner{
    border-top: solid black;
    display: flex;
}

.front-thumb-post{
    margin-top: 20px;
    display:flex;
    gap: 10px;
    justify-content: center;

}
.front-post{
    border: 1px solid black;
    text-align: center;
}